<div class="text-center m-5">
    
    <div class="container-fluid m-2">
      <div class="row">
        <% @groups.each do |g| %>
          <%= render g %>
          <%# <%= render partial: "group", locals: { group: g} %> %>
        <% end %>
      </div>
    </div>
  </div>
