<div class="text-center m-5">
<h1>Home page</h1>


<% @groups.each do |group| %>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single_recepie text-center">
          <% if can? :read, group %>
            <p><%= group.name %></p>
            <p><%= group.icon %></p>
            <%= link_to "see more", group %>
          <% end %>
          </div>
        </div>
      <% end %>

      <div class="p-5  d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-secondary btn-lg w-400"><%= link_to "Create new category", new_group_path %></button></div>

      </div>
