<div class="text-center">
    
    <div class="container-fluid m-2">
      <div class="row">
        <% @categories.each do |g| %>
          <%= link_to g do %>
        <div class="card-1 d-flex flex-row-reverse justify-content-between">
        <p class='mr-5'><%= g.name %></p>
            <%= image_tag "#{g.icon}", size: "80x80", alt: 'icon' %>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
