<div class="text-center m-5">
    
    <div class="container-fluid m-2">
      <div class="row">
        <% @categories.each do |g| %>
          <%= render g %>
          <%# <%= render partial: "category", locals: { category: g} %> 
        <% end %>
      </div>
    </div>
  </div>
