<%# <h1>Categories#show</h1> %>

<%# if can? :destroy, @category <===========ThEre'S no DEsTroy AcTioN============|    %> 
  <%= render @category %>
  <%#= button_to "Destroy this category", @categories_path, method: :delete %>
<%# end %>
<div class="container">
<% if @category.transactions.empty? %>
  <p>No transactions at this time! Add some...</p>
<% else %>
  <div id="transactions">
  <% @category.transactions.order(created_at: :desc).each do |transaction| %>
    <div class="p-3"><%= link_to transaction do %></div>
      <div class="card-1">
        <%= render transaction %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<%= link_to "New transaction", new_transaction_path %>

</div>

