<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p class="created_at">
    <strong>Date:</strong>
    <%= transaction.created_at.strftime('%F - %I:%H:%M %p') %>
  </p>

</div>
